.form__header {
  .publish__button {
    background-color: #2b6bb2;
    padding: 16px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    box-shadow: none;
  }
  .draft__button {
    background-color: #eaf1fb;
    padding: 16px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #2b6bb2;
  }
  .draft__button:focus {
    border: 1px solid #2b6bb2;
  }
  .cancel__button {
    background-color: #f0f2f5;
    padding: 16px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #5a5a5a;
  }
  .icon {
    font-size: 18px;
    color: white;
  }
  .danger__button {
    background-color: #ffffff;
    padding: 16px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #d92d2d;
  }
  .danger__button:focus {
    border: 1px solid #d92d2d;
  }
  .danger__icon {
    font-size: 18px;
    color: #d92d2d;
  }
}
